{% extends 'base.html' %}  <!-- Расширение базового шаблона -->

{% block content %}  <!-- Переопределение блока content -->
<h1>Восстановление пароля</h1>

<form method="post">  <!-- Форма для передачи данных методом post -->
    {% csrf_token %}  <!-- Обязательный атрибут csrf -->
{% for f in form %}  <!-- Цикл для перебора и отображения полей формы-->
<p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>  <!-- Вывод текущего поля-->
<div class="form_error">{{ f.errors }}</div>  <!--Отображение ошибок, связанных с полями-->
{% endfor %}

    <p><button type="submit">Сбросить пароль по E-mail</button></p>
</form>

{% endblock %}