<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <! Использовать UTF-8 для простоты и практичности>
    <title>{{ title }}</title> <! Наша переменная, содержащаяся в ф-и представления index>
</head>
<body>
<p>{{ menu|join:" | " }}</p> <! Примеры вывода наших данных из словаря data в ф-ии index + фильтр join(разделитель)>
<p>{{ float|add:"50"}}</p> <! Пример использования фильтра add(прибавляет к значению переменной)>
<p>{{ lst }}</p>
<p>{{ set }}</p>
<p>{{ dict.key_1 }} {{ dict.key_2 }}</p> <! Возможна только 1 переменная в скобках>
<p>{{ class_object.a }}</p> <! Обращение к атрибутам через точку. Также для словарей>
<p>{{ url }}</p> <! Пример фильтра slugify - the main page>
<h1>{{ title|cut:"?"|cut:"!"}}</h1> <! Пример многократного исп. фильтра cut(удаляет символ)>
</body>
</html>