{% extends 'base.html' %} <!-- Шаблон для отображения статьи-->

{% block breadcrumbs %} <!-- блок из base.html-->
{% if perms.women.change_women %}  <!-- Обращение через perms к пользователям - Если у них есть права на редактирование-->
<p><a href="{% url 'edit_page' post.slug %}">Редактировать статью</a></p>  <!-- Тогда вывод ссылки на редактирование статьи-->
{% endif %}

<!-- Теги -->
{% with post.tags.all as tags %} <!-- post(текущ отображаемая запись из Women) выбир все теги через ОРМ и переноc в tags-->
{% if tags %} <!-- проверка на наличие -->
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %} <!-- Перебор через цикл всех прочитанных тегов и отобразить в виде ссылок-->
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>

{% if post.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}

{{post.content|linebreaks}}
{% endblock %}